Flask
Flask-Babel
Flask-Login
Flask-Mail
Flask-SQLAlchemy
gunicorn
Jinja2
Werkzeug
pdf2image
pdfkit
pandas
openpyxl
numpy
sqlalchemy
reportlab
lxml
XlsxWriter
pyxlsb
xlrd
weasyprint
requests
python-dotenv
pytesseract